.text{color: azure;
    max-resolution: 0 auto;
    
}
.early{
    background-color: white;
    border-radius: 999px;
    padding: 10px 1px;
   
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    
}.early span{
color:#30B868;
}


