#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-bar ul li {
  font-size: 16px;
  cursor: pointer;
  color: #333;
}



#nav-bar ul li:hover {
  color: #000;
}