#hero {
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   width: 100%;
   aspect-ratio: 16 / 9;
   border: #30B868;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   
}
.hero{
    text-align: center;
    font-size: 30px;

}
.hero h1{
    font-size: 100px;
    margin: 30px 0 ;
    color: white;

}
.hero h1 span{
    color:#30B868;
}
.hero p{
    max-width: 600px;
    margin: auto;
    
}
