#your-second-brain-section{
    display: flex;
   align-items: center;
   
    margin: 0 auto;
    border: 10px;

}
#your-second-brain-section img{
    flex: 1;
}

.content-right {
    flex: 1;

}
.list{
    list-style: none;
}
.content-right p{
    opacity: 80%;
    padding: 10px;
}