#your-second-brain-section{
    display: flex;
   align-items: center;
   
    margin: 0 auto;
    border: 10px;

}
#your-second-brain-section img{
    flex: 1;
}

.content-right {opacity: 70%;
    flex: 1;

}